# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE
.idea/
.vscode/

# Logs
*.log
.termonitor/

# OS
.DS_Store